@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin border-radius($property) {
  border-radius: $property;
  -webkit-border-radius: $property;
  -moz-border-radius: $property;
  -ms-border-radius: $property;
  -o-border-radius: $property;
}

@mixin transition($property) {
  -webkit-transition: $property;
  -o-transition: $property;
  transition: $property;
}


// media query mixin
@mixin media($size) {
  @if $size == xs {
    @media (max-width: 575px) { 
      @content; 
    }
  } @else if $size == sm {
    @media (min-width: 576px) { 
      @content; 
    }
  } @else if $size == md {
    @media (min-width: 768px) { 
      @content; 
    }
  } @else if $size == lg {
    @media (min-width: 992px) { 
      @content; 
    }
  } @else if $size == xl {
    @media (min-width: 1200px) { 
      @content; 
    }
  }@else if $size == xxl {
    @media (min-width: 1400px) { 
      @content; 
    }
  }@else if $size == 3xl {
    @media (min-width: 1650px) { 
      @content; 
    }
  }
}

// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

// Placeholder mixin
@mixin placeholder($value) {
  &::-webkit-input-placeholder {
    color: $value;
  }
  &::-moz-placeholder {
    color: $value;
  }
  &:-ms-input-placeholder {
    color: $value;
  }
  &:-moz-placeholder {
    color: $value;
  }
}