@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    .bg-#{$color}-#{$shade} {
      background-color: var(--#{$color}-#{$shade}) !important;
    }
  }
}



@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    .bg-hover-#{$color}-#{$shade} {
      @include transition(all 0.3s);
      &:hover {
        background-color: var(--#{$color}-#{$shade}) !important;
      }
    }
  }
}

.bg-base {
  background-color: var(--white) !important;
}


.hover-bg-transparent {
  background-color: transparent !important;
}

.hover-bg-white:hover {
  background-color: var(--white) !important;
}

.bg-white {
  &-1 {
    background-color: rgba(255, 255, 255, .3) !important;
  }
}

.section-bg {
  background-color: #F3F6F9
}