
.border {
  border: 1px solid var(--border-color) !important;
}
.border {
  &-start {
    border-inline-start: 1px solid var(--border-color) !important;
  }
  &-end {
    border-inline-end: 1px solid var(--border-color) !important;
  }
  &-bottom {
    border-block-end: 1px solid var(--border-color) !important;
  }
  &-top {
    border-block-start: 1px solid var(--border-color) !important;
  }
}

@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    .border-#{$color}-#{$shade} {
      border-color: var(--#{$color}-#{$shade}) !important;
    }
  }
}

.border {
  &-cyan {
    border-color: rgba(229, 246, 251, 1);
  }
  &-warning {
    border-color: rgba(252, 245, 229, 1);
  }
  &-danger {
    border-color: rgba(252, 231, 231, 1);
  }
  &-success {
    border-color: rgba(220, 246, 233, 1);
  }
  &-white {
    border-color: var(--white) !important;
  }
}

.border {
  &-2 {
    border-width: 2px !important;
  }

  &-dashed {
    border-style: dashed !important;
  }
}

.border-light {
  border-color: rgba(#fff, 0.15) !important;
}
.border-top-0 {
  border-top: 0 !important;
}