@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    .border-#{$color}-#{$shade} {
      border-color: var(--#{$color}-#{$shade}) !important;
    }
  }
}

.border {
  border: 1px solid var(--border-color) !important;
}
.border-end {
  border-inline-end: 1px solid var(--border-color) !important;
}
