@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    .text-#{$color}-#{$shade} {
      color: var(--#{$color}-#{$shade}) !important;
    }
  }
}

@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    .text-hover-#{$color}-#{$shade} {
      &:hover {
        color: var(--#{$color}-#{$shade}) !important;
      }
    }
  }
}

.text-white-65 {
  color: rgba(255, 255, 255, 0.65);
}

.text-primary-light {
  color: var(--text-primary-light) !important;
  &-two {
    color: var(--text-primary-light-two) !important;
  }
  &-three {
    color: var(--text-primary-light-three) !important;
  }
}

.text-primary {
  &-6 {
    color: var(--text-primary-6);
  }
}

.text-secondary-light {
  color: var(--text-secondary-light);
  &-two {
    color: var(--text-secondary-light-two);
  }
  &-three {
    color: var(--text-secondary-light-three);
  }
}

.text-secondary-dark {
  color: var(--text-secondary-dark);
}

.text-base {
  color: var(--white) !important;
}

.text-black {
  color: var(--black) !important;
}

.hover-text {
  &-white {
    &:hover {
      color: var(--white) !important;
    }
  }
}