@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    .text-#{$color}-#{$shade} {
      color: var(--#{$color}-#{$shade}) !important;
    }
  }
}

@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    .text-hover-#{$color}-#{$shade} {
      &:hover {
        color: var(--#{$color}-#{$shade}) !important;
      }
    }
  }
}

.text-white-65 {
  color: rgba(255, 255, 255, 0.65);
}

.text-primary-light {
  color: var(--text-primary-light) !important;
}

.text-primary-light-two {
  color: var(--text-primary-light-two) !important;
}

.text-secondary-light {
  color: var(--text-secondary-light);
}

.text-secondary-dark {
  color: var(--text-secondary-dark);
}

.text-base {
  color: var(--white) !important;
}

.text-black {
  color: var(--black) !important;
}
