/* Font Family start */
.font {
    &-ubuntu {
        font-family: var(--font-ubuntu) !important;
    }
}
.font {
    &-rubik {
        font-family: var(--font-rubik) !important;
    }
}
.font {
    &-poppins {
        font-family: var(--font-poppins) !important;
    }
}

.hover-fw-medium:hover, .hover-fw-medium:hover span {
    font-weight: 500 !important;
}
/* Font Family End */
