/* Group Item start */
.group-item {
    &:hover {
        .group-hover-item-visible {
            visibility: visible !important;
            opacity: 1 !important;
        }
        .group-hover-item-block {
            display: block !important;
        }
        .group-hover-item-none {
            display: none !important;
        }
    }
}
/* Group Item end */