
// Height
@each $property, $value in $spaces {
    .h-#{$property}-px {
        height: $value !important;
    }
}
  
.h {
    &-100vh {
      height: 100vh;
    } 
    &-68-px {
      height: 68px;
    }
    &-88-px {
      height: 88px;
    }
    &-102-px {
      height: 102px;
    }
    &-100--2-px {
      height: calc(100% - 3px) !important;
    }
  }
  .max-h {
    &-362-px {
      max-height: 362px;
    }
    &-300-px {
      max-height: 300px;
    }
    &-230-px {
      max-height: 230px;
    }
    &-258-px {
      max-height: 258px;
    }
    &-470-px {
      max-height: 470px;
    }
    &-510-px {
      max-height: 510px;
    }
    &-520-px {
      max-height: 520px;
    }
    &-532-px {
      max-height: 532px;
    }
    &-800-px {
      max-height: 800px;
    }
  }

  .min-h {
    &-100-vh {
        min-height: 100vh;
    }
    &-72-px {
        min-height: 72px !important;
    }
    &-104-px {
        min-height: 104px !important;
    }
    &-215-px {
        min-height: 215px !important;
    }
    &-300-px {
        min-height: 300px;
    }
    &-540-px {
        min-height: 540px;
    }
  }