.text-hover {
  &-white {
    &:hover {
      color: #fff !important;
    }
  }
}

.cursor {
  &-pointer {
    cursor: pointer;
  }
  &-move {
    cursor: move !important;
  }
}

.pointer-event-none {
  pointer-events: none;
}