.text-hover {
  &-white {
    &:hover {
      color: #fff !important;
    }
  }
}

.cursor {
  &-pointer {
    cursor: pointer;
  }
  &-move {
    cursor: move !important;
  }
}

.pointer-event-none {
  pointer-events: none;
}

.focus-text-white {
  &:focus, &:active {
    color: #fff !important;
  }
}

.focus-bg-primary-600 {
  &:focus, &:active {
    background-color: var(--primary-600) !important;
  }
}