// margin css
@each $property, $value in $spaces {
    .m-#{$property} {
      margin: var(--size-#{$property});
    }
  }
  
  @each $property, $value in $spaces {
    .mx-#{$property} {
      margin-inline: var(--size-#{$property}) !important;
    }
  }
  
  @each $property, $value in $spaces {
    .my-#{$property} {
      margin-block: var(--size-#{$property}) !important;
    }
  }
  
  @each $property, $value in $spaces {
    .ms-#{$property} {
      margin-inline-start: var(--size-#{$property}) !important;
    }
  }
  
  @each $property, $value in $spaces {
    .me-#{$property} {
      margin-inline-end: var(--size-#{$property}) !important;
    }
  }
  
  @each $property, $value in $spaces {
    .mt-#{$property} {
      margin-block-start: var(--size-#{$property}) !important;
    }
  }
  
  @each $property, $value in $spaces {
    .mb-#{$property} {
      margin-block-end: var(--size-#{$property}) !important;
    }
  }
  
  .ms--10px {
    margin-inline-start: -10px;
  }

  .mt {
    &-60-px {
      margin-block-start: clamp(1.5rem, -5.25rem + 9vw, 3.75rem);
    }
    &-84-px {
      margin-block-start: clamp(1.5rem, -5.25rem + 9vw, 5.25rem);
    }
  }

  .mb {
    &-100-px {
      margin-block-end: clamp(2rem, -5.25rem + 9vw, 6.25rem);
    }
  }


  .mt--8-px  {
    margin-block-start: -8px;
  }
  .me--8-px {
    margin-inline-end: -8px;
  }
// margin css
  