/* Padding css start */

// padding css
@each $property, $value in $spaces {
  .p-#{$property} {
    padding: var(--size-#{$property}) !important;
  }
}

@each $property, $value in $spaces {
  .px-#{$property} {
    padding-inline: var(--size-#{$property}) !important;
  }
}

@each $property, $value in $spaces {
  .py-#{$property} {
    padding-block: var(--size-#{$property}) !important;
  }
}

@each $property, $value in $spaces {
  .ps-#{$property} {
    padding-inline-start: var(--size-#{$property}) !important;
  }
}

@each $property, $value in $spaces {
  .pe-#{$property} {
    padding-inline-end: var(--size-#{$property}) !important;
  }
}

@each $property, $value in $spaces {
  .pt-#{$property} {
    padding-block-start: var(--size-#{$property}) !important;
  }
}

@each $property, $value in $spaces {
  .pb-#{$property} {
    padding-block-end: var(--size-#{$property}) !important;
  }
}

.pe-0 {
  padding-right: 0 !important;
}

.pe {
  &-88-px {
    padding-inline-end:  clamp(3.75rem, -5.0655rem + 18.2692vw, 5.5rem);
  }
}

.px-res {
  &-40-px {
    padding-inline: clamp(1.5rem, 0.25rem + 4vw, 2.5rem);
  }
  &-36-px {
    padding-inline: clamp(.25rem, -5.25rem + 6.6667vw, 2.25rem);
  }
  &-32-px {
    padding-inline: clamp(1rem, -5.25rem + 6.6667vw, 2rem);
  }
  &-100-px {
    padding-inline: clamp(1.5rem, -5.0655rem + 18.2692vw, 6.25rem);
  }
}

.ps-0 {
  padding-left: 0!important;
  padding-inline-start: 0 !important;
}

.pb-200-px {
  padding-block-end: 200px;
}
/* Padding css end */
