
// width 
@each $property, $value in $spaces {
  .w-#{$property}-px {
    width: $value !important;
  }
}

.w {
  &-80-px {
    max-width: 80px;
  }
  &-88-px {
    max-width: 88px;
  }
  &-100-px {
    width: 100px;
  }
}

.min-w-max {
  min-width: max-content;
}

.max-w {
  &-105-px {
    max-width: 105px;
  }
  &-124-px {
    max-width: 124px;
  }
  &-200-px {
    max-width: 200px;
  }
  &-286-px {
    max-width: 286px;
  }
  &-340-px {
    max-width: 340px;
  }
  &-360-px {
    max-width: 360px;
  }
  &-760-px {
    max-width: 760px;
  }
  &-150-px {
    max-width: 150px;
  }
  &-350-px {
    max-width: 350px;
  }
  &-146-px {
    max-width: 146px;
  }
  &-124-px {
    max-width: 124px;
  }
  &-152-px {
    max-width: 152px;
  }
  &-330-px {
    max-width: 330px;
  }
  &-380-px {
    max-width: 380px;
  }
  &-388-px {
    @media (min-width: 992px) {
      max-width: 388px;
    }
  }
  &-560-px {
    max-width: 560px;
  }
  &-620-px {
    max-width: 620px;
  }
  &-732-px {
    max-width: 732px;
  }
  &-826-px {
    max-width: 826px;
  }
  &-1060-px {
    max-width: 1060px;
  }
  &-1250-px {
    max-width: 1250px;
  }
  &-1472-px {
    max-width: 1472px;
  }
  &-1650-px {
    max-width: 1650px;
  }
  &-1705-px {
    max-width: 1705px;
  }
}

@media (min-width: 425px) and (max-width: 575px) {
  .col-xs-6 {
    width: 50%;
  }
}

.transition-2 {
  transition: .2s !important;
}
.text {
  &-8-px {
    font-size: 10px;
  }
  &-xxs {
    font-size: 10px !important;
  }
}
