<div class="navbar-header">
  <div class="d-flex align-items-center justify-content-between justify-content-xl-end">
    <button type="button" class="sidebar-mobile-toggle text-white">
        <iconify-icon icon="heroicons:bars-3-solid" class="icon"></iconify-icon>
      </button>
      <div class="d-flex flex-wrap align-items-center gap-sm-3 gap-2">

        <!-- Language Select start -->
        <div class="cursor-small position-relative group-item hover-mt-0">
          <div class="d-flex align-items-center gap-2">
              <a href="javascript:void(0)" class="selected-text text-white py-8 d-flex align-items-center gap-2 text-uppercase text-xs">   
                  <span class="w-24-px h-24-px border border-white border-2 rounded-circle common-shadow d-flex justify-content-center align-items-center d-xxxs-block d-none flex-shrink-0">
                      <img src="assets/images/another/flag1.png" alt="" class="w-100 h-100 object-fit-cover rounded-circle">
                  </span>
                  EN
              </a>
              <span class="text-white-50 line-height-1 text-xl d-flex">
                <i class="ri-arrow-drop-down-line"></i>
              </span>
          </div>
          <ul class="lang-dropdown max-h-300-px overflow-y-auto scroll-sm bg-white common-shadow p-8 position-absolute start-0 top-100 min-w-max rounded-lg d-flex flex-column invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 duration-200 group-hover-item-mt-0 z-99 w-100-px radius-6 shadow-10 gap-2-px">
            <li>
              <a href="javascript:void(0)" class="text-black d-flex align-items-center gap-2 hover-text-main-600 active--translate-y-1 duration-150 px-10 py-4 bg-hover-neutral-200 radius-4"> 
                <span class="w-20-px h-25-px border border-white border-2 rounded-circle d-flex justify-content-center align-items-center text-uppercase text-xs">
                  <img src="assets/images/another/flag1.png" alt="" class="w-100 h-100 object-fit-cover rounded-circle">
                </span>
                EN
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" class="text-black d-flex align-items-center gap-2 hover-text-main-600 active--translate-y-1 duration-150 px-10 py-4 bg-hover-neutral-200 radius-4"> 
                <span class="w-20-px h-25-px border border-white border-2 rounded-circle d-flex justify-content-center align-items-center text-uppercase text-xs">
                  <img src="assets/images/another/flag6.png" alt="" class="w-100 h-100 object-fit-cover rounded-circle">
                </span>
                AR
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" class="text-black d-flex align-items-center gap-2 hover-text-main-600 active--translate-y-1 duration-150 px-10 py-4 bg-hover-neutral-200 radius-4"> 
                <span class="w-20-px h-25-px border border-white border-2 rounded-circle d-flex justify-content-center align-items-center text-uppercase text-xs">
                  <img src="assets/images/another/flag2.png" alt="" class="w-100 h-100 object-fit-cover rounded-circle">
                </span>
                JP
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" class="text-black d-flex align-items-center gap-2 hover-text-main-600 active--translate-y-1 duration-150 px-10 py-4 bg-hover-neutral-200 radius-4"> 
                <span class="w-20-px h-25-px border border-white border-2 rounded-circle d-flex justify-content-center align-items-center text-uppercase text-xs">
                  <img src="assets/images/another/flag3.png" alt="" class="w-100 h-100 object-fit-cover rounded-circle">
                </span>
                FR
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" class="text-black d-flex align-items-center gap-2 hover-text-main-600 active--translate-y-1 duration-150 px-10 py-4 bg-hover-neutral-200 radius-4"> 
                <span class="w-20-px h-25-px border border-white border-2 rounded-circle d-flex justify-content-center align-items-center text-uppercase text-xs">
                  <img src="assets/images/another/flag4.png" alt="" class="w-100 h-100 object-fit-cover rounded-circle">
                </span>
                DE
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" class="text-black d-flex align-items-center gap-2 hover-text-main-600 active--translate-y-1 duration-150 px-10 py-4 bg-hover-neutral-200 radius-4"> 
                <span class="w-20-px h-25-px border border-white border-2 rounded-circle d-flex justify-content-center align-items-center text-uppercase text-xs">
                  <img src="assets/images/another/flag5.png" alt="" class="w-100 h-100 object-fit-cover rounded-circle">
                </span>
                KR
              </a>
            </li>
          </ul>
        </div>
        <!-- Language Select end -->
        
        <div class="dropdown">
          <button class="has-indicator text-secondary-light-three" type="button" data-bs-toggle="dropdown">
            <iconify-icon icon="proicons:calendar" class="text-primary-light text-xl"></iconify-icon>
          </button>
        </div><!-- Calendar dropdown end -->

        <div class="dropdown">
          <button class="has-indicator text-secondary-light-three" type="button" data-bs-toggle="dropdown">
            <iconify-icon icon="mingcute:notification-fill" class="text-primary-light text-xl"></iconify-icon>
          </button>
        </div><!-- Message dropdown end -->

        <div class="dropdown">
          <button class="has-indicator text-secondary-light-three" type="button" data-bs-toggle="dropdown">
            <iconify-icon icon="material-symbols:person-rounded" class="text-primary-light text-xl"></iconify-icon>
          </button>
        </div><!-- Notification dropdown end -->

        <div class="ps-12 border-start border-light">
          <div id="theme-toggle" class="form-switch switch-primary d-flex align-items-center gap-3">
            <input class="form-check-input cursor-pointer" type="checkbox" role="switch" id="darkLightIcon">
            <label class="form-check-label line-height-1 fw-medium text-secondary-light-three cursor-pointer" for="darkLightIcon">
              <span class="light-version-icon"><i class="ri-sun-fill"></i></span>
              <span class="dark-version-icon"><i class="ri-moon-clear-fill"></i></span>
            </label>
          </div>
        </div>

        <div class="dropdown ps-12 border-start border-light d-sm-block d-none side-menu-icon">
          <button class="d-flex justify-content-center gap-2 align-items-center rounded-circle" type="button" data-bs-toggle="dropdown">
            <img src="assets/images/user.png" alt="image" class="w-24-px h-24-px object-fit-cover rounded-circle">
            <span class="text-white text-xs">Alshaya Company &amp; Group</span>
          </button>
        </div>
        <!-- Profile dropdown end -->
        <button class="text-secondary-light-three d-sm-none d-block side-menu-icon" type="button">
          <span class="text-primary-light text-xl">
            <i class="ri-settings-3-fill"></i>
          </span>
        </button>
          
      </div>
  </div>
</div> 