<div class="navbar-header">
  <div class="d-flex align-items-center justify-content-between justify-content-xl-end">
    <button type="button" class="sidebar-mobile-toggle text-white">
        <iconify-icon icon="heroicons:bars-3-solid" class="icon"></iconify-icon>
      </button>
      <div class="d-flex flex-wrap align-items-center gap-3">
        <div class="dropdown">
          <button class="has-indicator text-secondary-light-three" type="button" data-bs-toggle="dropdown">
            <iconify-icon icon="proicons:calendar" class="text-primary-light text-xl"></iconify-icon>
          </button>
        </div><!-- Calendar dropdown end -->

        <div class="dropdown">
          <button class="has-indicator text-secondary-light-three" type="button" data-bs-toggle="dropdown">
            <iconify-icon icon="mingcute:notification-fill" class="text-primary-light text-xl"></iconify-icon>
          </button>
        </div><!-- Message dropdown end -->

        <div class="dropdown">
          <button class="has-indicator text-secondary-light-three" type="button" data-bs-toggle="dropdown">
            <iconify-icon icon="material-symbols:person-rounded" class="text-primary-light text-xl"></iconify-icon>
          </button>
        </div><!-- Notification dropdown end -->

        <div class="ps-12 border-start border-light">
          <div id="theme-toggle" class="form-switch switch-primary d-flex align-items-center gap-3">
            <input class="form-check-input cursor-pointer" type="checkbox" role="switch" id="darkLightIcon">
            <label class="form-check-label line-height-1 fw-medium text-secondary-light-three cursor-pointer" for="darkLightIcon">
              <span class="light-version-icon"><i class="ri-sun-fill"></i></span>
              <span class="dark-version-icon"><i class="ri-moon-clear-fill"></i></span>
            </label>
          </div>
        </div>

        <div class="dropdown ps-12 border-start border-light d-sm-block d-none">
          <button class="d-flex justify-content-center gap-2 align-items-center rounded-circle" type="button" data-bs-toggle="dropdown">
            <img src="assets/images/user.png" alt="image" class="w-24-px h-24-px object-fit-cover rounded-circle">
            <span class="text-white text-xs">Alshaya Company &amp; Group</span>
          </button>
        </div><!-- Profile dropdown end -->
      </div>
  </div>
</div> 