<aside class="sidebar">
  <button type="button" class="sidebar-close-btn z-2 text-white border border-white">
    <iconify-icon icon="radix-icons:cross-2"></iconify-icon>
  </button>
  <div class="sidebar-logo gap-2">
    <a href="index.html">
      <img src="assets/images/logo.png" alt="site logo" class="light-logo">
      <img src="assets/images/logo.png" alt="site logo" class="dark-logo">
      <img src="assets/images/favicon.png" alt="site logo" class="logo-icon">
    </a>
  </div>
  <div class="sidebar-menu-area">
    <div class="text-center">
      <img src="assets/images/user-lg.png" alt="image" class="avatar-2xl rounded-circle">
      <div class="sidebar-menu-dropdown-data">
        <div class="dropdown mt-12">
          <button class="heading-font fw-medium text-primary-light text-lg mb-0 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Salem Mohammed
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item text-sm" href="#">Action</a></li>
            <li><a class="dropdown-item text-sm" href="#">Another action</a></li>
            <li><a class="dropdown-item text-sm" href="#">Something else here</a></li>
          </ul>
        </div>
        <p class="text-sm mb-0">Administrator</p>
      </div>
    </div>
    <ul class="sidebar-menu" id="sidebar-menu">
      <li class="sidebar-menu-group-title">PACI Services</li>
      <li>
        <a href="javascript:void(0)">
          <iconify-icon icon="solar:users-group-rounded-outline" class="menu-icon"></iconify-icon>
          <span class="menu-text">Customer List</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <iconify-icon icon="solar:notification-unread-lines-broken" class="menu-icon"></iconify-icon>
          <span class="menu-text">Notification</span> 
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <iconify-icon icon="lucide:clipboard-signature" class="menu-icon"></iconify-icon>
          <span class="menu-text">PACI Signature</span> 
        </a>
      </li>

      <li class="sidebar-menu-group-title">Business Suite</li>
      <li>
        <a href="javascript:void(0)">
          <iconify-icon icon="material-symbols:dashboard" class="menu-icon"></iconify-icon>
          <span class="menu-text">Dashboard</span> 
        </a>
      </li>
      <li>
        <a href="calendar.html">
          <iconify-icon icon="solar:calendar-linear" class="menu-icon"></iconify-icon>
          <span class="menu-text">Calendar</span> 
        </a>
      </li>
      <li>
        <a href="email.html">
          <iconify-icon icon="mage:email" class="menu-icon"></iconify-icon>
          <span class="menu-text">Email</span> 
        </a>
      </li>
      <li>
        <a href="announcement.html">
          <iconify-icon icon="mingcute:horn-line" class="menu-icon"></iconify-icon>
          <span class="menu-text">Announcements</span> 
        </a>
      </li>
      <li>
        <a href="action.html">
          <iconify-icon icon="icon-park-outline:transaction" class="menu-icon"></iconify-icon>
          <span class="menu-text">Action</span> 
        </a>
      </li>
      <li>
        <a href="workflow.html">
          <iconify-icon icon="mage:exchange-a" class="menu-icon"></iconify-icon>
          <span class="menu-text">Workflow</span> 
        </a>
      </li>
      <li class="active-page">
        <a href="index.html">
          <iconify-icon icon="mingcute:pen-line" class="menu-icon"></iconify-icon>
          <span class="menu-text">Digital Signature</span> 
        </a>
      </li>
      <li>
        <a href="master.html">
          <iconify-icon icon="mingcute:pen-line" class="menu-icon"></iconify-icon>
          <span class="menu-text">Master</span> 
        </a>
      </li>

      <li class="sidebar-menu-group-title">Document Management</li>
      <li>
        <a href="scan-upload.html">
          <iconify-icon icon="tabler:folder-down" class="menu-icon"></iconify-icon>
          <span class="menu-text">Scan / Upload</span> 
        </a>
      </li>
      <li>
        <a href="sorting-documents.html">
          <span class="menu-icon ri-file-code-line"></span>
          <span class="menu-text">Sorting </span> 
        </a>
      </li>
      <li>
        <a href="indexing-documents.html">
          <span class="menu-icon ri-folder-2-line"></span>
          <span class="menu-text">Indexing</span> 
        </a>
      </li>
      <li>
        <a href="archiving.html">
          <iconify-icon icon="material-symbols:archive-outline" class="menu-icon"></iconify-icon>
          <span class="menu-text">Archiving</span> 
        </a>
      </li>
      <li>
        <a href="files.html">
          <iconify-icon icon="lucide:folder-open" class="menu-icon"></iconify-icon>
          <span class="menu-text">Files</span> 
        </a>
      </li>
      <li class="sidebar-menu-group-title">Application</li>
      <li class="dropdown">
        <a href="javascript:void(0)">
          <span class="menu-icon ri-shield-user-line"></span>
          <span class="menu-text">Authentication</span> 
        </a>
        <ul class="sidebar-submenu">
          <li>
            <a href="login.html"><i class="ri-circle-fill circle-icon text-primary w-auto"></i> Login</a>
          </li>
          <li>
            <a href="register.html"><i class="ri-circle-fill circle-icon text-danger w-auto"></i> Register</a>
          </li>
          <li>
            <a href="email-confirmation.html"><i class="ri-circle-fill circle-icon text-info w-auto"></i> Email Confirmation</a>
          </li>
          <li>
            <a href="forgot-password.html"><i class="ri-circle-fill circle-icon text-warning w-auto"></i> Forget Password</a>
          </li>
          <li>
            <a href="forget-password-otp.html"><i class="ri-circle-fill circle-icon text-success w-auto"></i> Forget Password OTP</a>
          </li>
          <li>
            <a href="create-password.html"><i class="ri-circle-fill circle-icon text-danger-emphasis w-auto"></i> Create Password</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>