<aside class="sidebar">
  <button type="button" class="sidebar-close-btn">
    <iconify-icon icon="radix-icons:cross-2"></iconify-icon>
  </button>
  <div>
    <a href="index.html" class="sidebar-logo">
      <img src="assets/images/logo.png" alt="site logo" class="light-logo">
      <img src="assets/images/logo-light.png" alt="site logo" class="dark-logo">
      <img src="assets/images/logo-icon.png" alt="site logo" class="logo-icon">
    </a>
  </div>
  <div class="sidebar-menu-area">
    <div class="text-center">
      <img src="assets/images/user.png" alt="image" class="avatar-2xl rounded-circle">
      <div class="dropdown mt-12">
        <button class="heading-font fw-medium text-primary-light text-lg mb-0 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Salem Mohammed
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <p class="text-sm mb-0">Administrator</p>
    </div>
    <ul class="sidebar-menu" id="sidebar-menu">
      <li class="sidebar-menu-group-title">PACI Services</li>
      <li>
        <a href="javascript:void(0)">
          <iconify-icon icon="solar:users-group-rounded-outline" class="menu-icon"></iconify-icon>
          <span>Customer List</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <iconify-icon icon="solar:notification-unread-lines-broken" class="menu-icon"></iconify-icon>
          <span>Notification</span> 
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <iconify-icon icon="lucide:clipboard-signature" class="menu-icon"></iconify-icon>
          <span>PACI Signature</span> 
        </a>
      </li>

      <li class="sidebar-menu-group-title">Business Suite</li>
      <li>
        <a href="javascript:void(0)">
          <iconify-icon icon="material-symbols:dashboard" class="menu-icon"></iconify-icon>
          <span>Dashboard</span> 
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <iconify-icon icon="solar:calendar-linear" class="menu-icon"></iconify-icon>
          <span>Calendar</span> 
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <iconify-icon icon="mage:email" class="menu-icon"></iconify-icon>
          <span>Email</span> 
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <iconify-icon icon="mingcute:horn-line" class="menu-icon"></iconify-icon>
          <span>Announcements</span> 
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <iconify-icon icon="icon-park-outline:transaction" class="menu-icon"></iconify-icon>
          <span>Action</span> 
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <iconify-icon icon="mage:exchange-a" class="menu-icon"></iconify-icon>
          <span>Action</span> 
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <iconify-icon icon="mingcute:pen-line" class="menu-icon"></iconify-icon>
          <span>Digital Signature</span> 
        </a>
      </li>

      <li class="sidebar-menu-group-title">Document Management</li>
      <li>
        <a href="javascript:void(0)">
          <iconify-icon icon="tabler:folder-down" class="menu-icon"></iconify-icon>
          <span>Scan / Import Document</span> 
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <iconify-icon icon="ant-design:code-outlined" class="menu-icon"></iconify-icon>
          <span>Metadata</span> 
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <iconify-icon icon="lets-icons:folder-alt" class="menu-icon"></iconify-icon>
          <span>Dispatch Document</span> 
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <iconify-icon icon="material-symbols:archive-outline" class="menu-icon"></iconify-icon>
          <span>Archiving</span> 
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <iconify-icon icon="lucide:folder-open" class="menu-icon"></iconify-icon>
          <span>Files</span> 
        </a>
      </li>
    </ul>
  </div>
</aside>