.form-select {
  background-position: 56px center !important;
}
[dir="rtl"] { 
  .form-select {
    background-position: 30px center !important;
  }
}

.form-select, .form-control, textarea {  
  border: 1px solid var(--border-color) !important;
  color: var(--text-primary-light) !important;
  background-color: var(--white) !important;
  padding: rem(9px) rem(20px);
  border-radius: 8px !important;
  &::placeholder {
    color: var(--placeholder-color);
    font-size: 1rem !important;
  }
  &:focus,
  &:active {
    box-shadow: none;
    border-color:  var(--primary-600) !important;
    background-color: transparent;
  }
}


.form-select {
  padding: rem(9px) rem(30px) rem(9px) rem(15px);
  background-position-x: right;
}

[dir="rtl"] { 
  .form-select {
    background-position-x: left;
  }
}

[data-theme=dark] {
  .form-select {
    background-image: url(../images/arrow-down.png);
    background-size: 11px 7px;
    background-repeat: no-repeat;
  }
  .btn-close {
    background-image: url(../images/times.png);
    background-size: auto;
    background-repeat: no-repeat;
    opacity: 1
  }
}