
// Bordered Tab Css Start 
.bordered-tab {
    .nav-link {
        background-color: transparent !important;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            width: 0%;
            height: 1px;
            left: 50%;
            bottom: -1px;
            transform: translateX(-50%);
            background-color: var(--primary-500);
            transition: .2s linear;
        }
        &.active {
            color: var(--primary-600);
            &::before {
                width: 100%;
            }
        }
    }
}

.style-main {
    .nav-link { 
        &::before {
            height: 2px;
            background-color: var(--primary-600) !important;
        }
    }
}

.active-bg {
    .nav-link { 
        &.active {
            background-color: var(--neutral-50) !important;
            .text-neutral-400 {
                color: var(--neutral-900) !important;
            }
        }
    }
}
// Bordered Tab Css End 
