/* ====================== Animated Radial Progress bar Css Start ======================== */
.radial-progress {
    height: auto;
    max-width: 32px;
    transform: rotate(-90deg);
    width: 100%;
    circle {
        fill: rgba(0,0,0,0);
        stroke: #fff;
        stroke-dashoffset: 219.91148575129; 
        stroke-width: 8;
        stroke: var(--primary-600);
        stroke-linecap: round;
        &.incomplete { 
            opacity: 0.2; 
        }
        &.complete { 
            stroke-dasharray: 219.91148575129; 
        }
    }
    text {
        fill: var(--text-secondary-light);
        font-size: 26px !important;
        text-anchor: middle;
    }
}
.stroke {
    &-blue {
        .radial-progress circle {
            stroke: #6691E7D9;
        }
    }
    &-green {
        .radial-progress circle {
            stroke: #13C56BD9;
        }
    }
    &-yellow {
        .radial-progress circle {
            stroke: #E8BC52D9;
        }
    }
}
/* ====================== Animated Radial Progress bar Css End ======================== */