/* Scrollbar css start */
// .scroll-sm:hover::-webkit-scrollbar-thumb {
//     background-color: var(--neutral-200);
// }
  
.scroll-sm {
    &::-webkit-scrollbar {
        width: 6px;
        background-color: var(--white);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--white);
        background-color: var(--neutral-200);
        &:hover {
            background-color: var(--neutral-300);
        }
        &:active {
            background-color: var(--neutral-400);
        }
    }
    &.scroll-vertical {
        &::-webkit-scrollbar {
            height: 6px;
        }
    }
}
/* Scrollbar css end */