.table>:not(caption)>*>* {
    border-bottom-width: 0;
}

table.table thead {
    position: sticky;
    top: 0;
    z-index: 1;
}
td {
    vertical-align: middle;
}

table tr.dragging td {
    background-color: var(--neutral-300) !important;
    box-shadow: 0px 16px 16px -12px rgba(27, 23, 65, 0.25) !important;
}

.table>:not(caption)>*>* {
    background-color: transparent;
}