/* Toast Message Css start  */
.toast-message{
    position: fixed;
    inset-block-start: 25px;
    inset-inline-end: 30px;
    background: #fff;
    border-inline-start: 4px solid var(--success-600);
    overflow: hidden;
    margin-inline-end: -320px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35);
    max-width: 320px;
    min-width: 280px;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    &.active {
      margin-inline-end: 0;
      visibility: visible;
      opacity: 1;
    }
    &.active .progress__bar::before{
      animation: progress-bar 3.6s linear forwards;
      visibility: visible;
      opacity: 1;
    }
    &:hover .progress__bar::before {
      animation-play-state: paused;
    }
  }

.progress__bar {
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 0;
    height: 3px;
    width: 100%;
    background: #fff;
    &::before{
        content: "";
        position: absolute;
        inset-block-end: 0;
        inset-inline-start: 0;
        height: 100%;
        width: 100%;
        background-color: var(--success-600);
        visibility: hidden;
        opacity: 0;
      }
  }
  
  @keyframes progress-bar {
    from {
      width: 100%;
    }
    to {
      width: 0%;
    }
  }

  .error-message {
    border-color: var(--danger-600) !important;
    .text-success-600 {
      color: var(--danger-600) !important;
    }
    .progress__bar::before {
      background-color: var(--danger-600);
    }
  }

  .warning-message {
    border-color: var(--warning-600) !important;
    .text-success-600 {
      color: var(--warning-600) !important;
    }
    .progress__bar::before {
      background-color: var(--warning-600);
    }
  }
/* Toast Message Css End  */